:root {
  --grey: #363636;
  --blue: #43738b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background: var(--grey);
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12vh;
  background: var(--blue);
}
.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background: unset;
}
section {
  height: 88vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: white;
  scroll-snap-align: end;
  margin-top: 12vh;
  padding: 0.5rem calc((100vw - 1100px) / 2);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.section-container::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.section-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}
/* Navbar animation */
.btn {
  position: relative;
  border: 0;
  outline: 0;
  padding-bottom: 0.2rem;
  cursor: pointer;
}
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.175rem;
  left: 0;
  bottom: 0;
  background: white;
}
.btn-center::after {
  transform: scale(0, 1);
  transition: transform 0.25s ease;
}
.btn-center:hover::after {
  transform: scale(1, 1);
}

/* Home */
.full-name {
  font-size: 6rem;
}
.last-name {
  /* nothing for right now */
}
.subheading {
  font-size: 2rem;
}
.home-icon {
  margin-top: 1rem;
  margin-right: 1rem;
  color: white;
  font-size: 4rem;
}
.contentDiv {
  position: relative;
}
@keyframes bouncing {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
.arrow {
  animation: bouncing 1s infinite ease-in-out;
  bottom: 0;
  display: block;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
  background: unset;
  font-size: 3rem;
}

/* About */
.lg-heading {
  font-size: 5rem;
  margin-bottom: 2rem;
}
.about-grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.profile-picture {
  border-radius: 50%;
  height: 30vh;
  margin-left: auto;
  margin-right: 1rem;
}
.bio {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

/* Projects */
.projects-grid-container {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
}
.project-icon {
  margin-right: 0.5rem;
  background: unset;
}
.project-img {
  width: 100%;
  border: 3px white solid;
}
.project-img:hover {
  opacity: 0.5;
  border-color: var(--blue);
}
.btn-light,
.btn-dark {
  color: white;
  text-decoration: unset;
  font-size: 1.5rem;

  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}

.btn-light:hover,
.btn-dark:hover {
  background: var(--blue);
}

.btn-light {
  background: grey;
}
.btn-dark {
  background: black;
}
