* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  background: rgb(86, 87, 87);
  background: linear-gradient(
    180deg,
    rgba(86, 87, 87, 1) 94%,
    rgba(64, 165, 248, 1) 100%
  );
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

section {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: end;
  margin-top: 15vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.section-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.section-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.one {
  background: mediumaquamarine;
}
.two {
  background: violet;
}
.three {
  background: orange;
}
.four {
  background: coral;
}
